$redclr: #e81e1e;
$placeholderclr: #15151580;
$blackclr: #151515;
$whiteclr: #ffffff;
$lightredclr: #e81e1e26;
$inputbrdr: #9e9e9e;
//$borderBottom: #bbbbbb80;
// ==========================================================

$primaryColor: #e81e1e;
$secondaryColor: #d0b2db;
$buttonColor: #e81e1e;
$textColor: #333333;
$basicColor: #bbbbbb;
$darkGrey: #33333380;
$peachColor: #fef3dc;
$whiteColor: #ffffff;
$borderBottom: #bbbbbb80;
$blackColor: #1e1e1e;
$redButton: #e61e2c;
$globalBackground: #fbfbfb;
$inactiveButton: #ff0000;
$xssmalltext: 0.75rem; //$xssmalltext
//$xssmalltext: 12px;
$xsmalltext: 0.7rem;
//$xsmalltext: 14px;

$smalltext: 1rem; // $smalltext
//$smalltext: 16px;

$mediumtext: 1.125rem; // medium text
//$mediumtext: 18px;
$largetext: 1.25rem; // large text
//$largetext:20px;
$xlargetext: 1.5rem;
// $xlargetext: 24px;
